.main{
    width: 100%;
    height: 100%;
    font-size: 0;
}
.main .chatInfo{
    width: 80%;
    display: inline-block;
}

.chatInfo .login{
    height: 30px;
    background: #f7f7f7;
    padding-top: 3px;
    box-sizing: border-box;
    padding-left: 12px;
    margin-bottom: 10px;
}
.chatInfo .message{
    width: 100%;
    height: 400px;
    max-height: 600px;
    background: #f7f7f7;
    overflow-y: scroll;
    font-size: 12px;
}
.chat{
    font-size: 0;
    width: 100%;
    display: flex;
}
.chat .charChart{
    vertical-align: top;
    flex-basis: 50px;
    order: -1;
    font-size: 12px;
}
.chat .charInput{
   flex-grow: 1;
   max-height: 200px;
}
.chat .chatBtn{
    flex-basis: 50px;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #000;
}
.main .userInfo{
    width: 20%;
    border: 1px solid #ccc;
    border-radius:3px;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 40px;
    font-size: 12px;
    
}